[submodule "vendor/oh-my-pi"]
	path = vendor/oh-my-pi
	url = https://github.com/can1357/oh-my-pi.git
[submodule "vendor/OpenHands"]
	path = vendor/OpenHands
	url = https://github.com/OpenHands/OpenHands.git
[submodule "vendor/ponytail"]
	path = vendor/ponytail
	url = https://github.com/DietrichGebert/ponytail
