# Core
nanobot-ai
fastapi
uvicorn[standard]
pydantic-settings
orjson
sse-starlette
python-multipart
jinja2
httpx>=0.27.0
redis>=5.0
pyyaml>=6.0
pytest

# Google Workspace
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

# Voice - Transcripción
faster-whisper

# Voice - Síntesis
gTTS

# Email
imap-tools

# Otros
requests
beautifulsoup4
deep-translator
tiktoken
docker
markitdown[pdf]==0.1.5

# Telegram
python-telegram-bot
